*.lock
*.c
*.cpp
*.index
*.snap
*.version
*.tree
*.resources
*.prefs
*.dat
*.xmi
*.txt
*.ini
*.classpath
*.project
*.class
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
